@import 'variables';

.button {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.38;
  width: 140px;
  height: $formHeight;
  border-radius: 5px;

  &.default {
    color: #fff;
    background-color: $neutralColor;
  }

  &.primary {
    color: #fff;
    background-color: $primaryColor;
  }
}
