@import 'variables';

input {
  border-radius: 5px;
  height: $formHeight;
  padding-left: 8px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.38;
}


label {
  padding: 8px;
  border-radius: 5px;
}
