@font-face {
  font-family: dh-icons;
  src: url("/fonts/dh-icons.eot");
  src: url("/fonts/dh-icons.eot?#iefix") format("embedded-opentype"), url("/fonts/dh-icons.woff") format("woff"),
    url("/fonts/dh-icons.ttf") format("truetype"), url("/fonts/dh-icons.svg#dh-icons") format("svg");
  font-weight: 400;
  font-style: normal;
}
.icon {
  position: relative;
  vertical-align: middle;
}
[data-icon]:before {
  font-family: dh-icons !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*=" icon-"]:before,
[class^="icon-"]:before {
  font-family: dh-icons !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  bottom: 2px;
}
[class*=" icon-"]:after,
[class^="icon-"]:after {
  font-family: dh-icons !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\61";
  color: transparent;
}
.icon-24h:before {
  content: "\61";
}
.icon-ambulance:before {
  content: "\62";
}
.icon-arrow:before {
  content: "\63";
}
.icon-availability:before {
  content: "\64";
}
.icon-back:before {
  content: "\65";
}
.icon-bed:before {
  content: "\66";
}
.icon-blog:before {
  content: "\67";
}
.icon-calendar:before {
  content: "\68";
}
.icon-camera:before {
  content: "\69";
}
.icon-cat:before {
  content: "\6a";
}
.icon-change:before {
  content: "\6b";
}
.icon-close:before {
  content: "\6c";
}
.icon-country-house:before {
  content: "\6d";
}
.icon-dogs:before {
  content: "\6e";
}
.icon-edit:before {
  content: "\6f";
}
.icon-elderly:before {
  content: "\70";
}
.icon-empty-star1x:before {
  content: "\33";
}
.icon-exclusive:before {
  content: "\73";
}
.icon-exercise-schedule:before {
  content: "\74";
}
.icon-exercises:before {
  content: "\75";
}
.icon-experience:before {
  content: "\76";
}
.icon-fence:before {
  content: "\77";
}
.icon-filter:before {
  content: "\78";
}
.icon-first-aid:before {
  content: "\79";
}
.icon-flat:before {
  content: "\7a";
}
.icon-full-star1x:before {
  content: "\31";
}
.icon-gallery:before {
  content: "\42";
}
.icon-generic:before {
  content: "\43";
}
.icon-gps:before {
  content: "\44";
}
.icon-half-star1x:before {
  content: "\32";
}
.icon-heart:before {
  content: "\46";
}
.icon-house:before {
  content: "\47";
}
.icon-injected-medication:before {
  content: "\48";
}
.icon-instadog:before {
  content: "\49";
}
.icon-kid:before {
  content: "\4a";
}
.icon-last-minute:before {
  content: "\4b";
}
.icon-location:before {
  content: "\4c";
}
.icon-map:before {
  content: "\4d";
}
.icon-menu:before {
  content: "\4e";
}
.icon-messenger:before {
  content: "\4f";
}
.icon-more:before {
  content: "\50";
}
.icon-my-location:before {
  content: "\51";
}
.icon-no-bed:before {
  content: "\52";
}
.icon-no-dogs:before {
  content: "\53";
}
.icon-no-elderly:before {
  content: "\54";
}
.icon-no-kid:before {
  content: "\55";
}
.icon-no-puppy:before {
  content: "\56";
}
.icon-no-smoke:before {
  content: "\57";
}
.icon-no-sofa:before {
  content: "\58";
}
.icon-oral-medication:before {
  content: "\59";
}
.icon-outdoor-l:before {
  content: "\5a";
}
.icon-outdoor-m:before {
  content: "\30";
}
.icon-outdoor-s:before {
  content: "\3c";
}
.icon-profile:before {
  content: "\3e";
}
.icon-puppy:before {
  content: "\3f";
}
.icon-repeat-guests:before {
  content: "\34";
}
.icon-report:before {
  content: "\35";
}
.icon-reservation:before {
  content: "\36";
}
.icon-respond-rate:before {
  content: "\37";
}
.icon-respond-time:before {
  content: "\38";
}
.icon-school:before {
  content: "\39";
}
.icon-search:before {
  content: "\21";
}
.icon-share:before {
  content: "\22";
}
.icon-smoke:before {
  content: "\23";
}
.icon-sofa:before {
  content: "\24";
}
.icon-special:before {
  content: "\25";
}
.icon-window-protected:before {
  content: "\26";
}
.icon-young:before {
  content: "\71";
}
