<div class="card-hero__header">
  <figure class="card-hero__photo">
    <img class="photo" [src]="hero.user?.image_url" [@fadeInAnimation]>
    <img class="medal" *ngIf="hero.is_superhero" src="https://www.doghero.com.br/assets/images/icons/super-host.svg">
  </figure>
  <div class="card-hero__profile">
    <h3>{{ hero.user?.first_name }}</h3>
    <p>{{ hero.title | truncate : 16 : '...' }}</p>
    <address>{{ hero.region_address }}</address>
    <div>
      <i [ngClass]="['icon icon-full-star1x', hero.rating > 0 ? 'active':'']"></i>
      <i [ngClass]="['icon icon-full-star1x', hero.rating > 1 ? 'active':'']"></i>
      <i [ngClass]="['icon icon-full-star1x', hero.rating > 2 ? 'active':'']"></i>
      <i [ngClass]="['icon icon-full-star1x', hero.rating > 3 ? 'active':'']"></i>
      <i [ngClass]="['icon icon-full-star1x', hero.rating > 4 ? 'active':'']"></i>
      <span>({{ hero.reviews_count }})</span>
    </div>
  </div>
  <div class="card-hero__price">
    <h4>
      <sub>R$</sub>{{ hero.locale?.price }}
    </h4>
    <p>p/ noite</p>
  </div>
</div>
<div class="card-hero__last-review">
  <blockquote>
    <p>{{ hero.last_review?.body | truncate : 60 : '...' }}</p>
  </blockquote>
  <figure class="card-hero__photo">
    <img class="photo" [src]="hero.last_review?.client_image_url" [@fadeInAnimation]>
  </figure>
</div>
<ul class="card-hero__highlights">
  <ng-container *ngFor="let highlight of hero.highlights">
    <li *ngIf="highlight.value">
      <i class="icon" [appHeroHighlightIcon]="highlight.name"></i>
      <p [appHeroHighlightText]="highlight"></p>
    </li>
  </ng-container>
</ul>
<div class="card-hero__footer">
  <a class="button" href="https://wa.me/5511971353293">Conversar com {{hero.user?.first_name}}</a>
</div>
