<button [ngClass]="{ open: open }" [title]="'app.header.open' | translate" (click)="toggle()">
  <span></span><span></span><span></span>
</button>
<img src="/images/group-5.png" [alt]="'app.header.logo' | translate" srcset="">
<nav [ngClass]="{ open: open }">
  <ul>
    <li>
      <a href="https://www.doghero.com.br/" translate>app.header.menu.1</a>
    </li>
    <li>
      <a href="https://www.doghero.com.br/busca" translate>app.header.menu.1</a>
    </li>
    <li>
      <a href="https://love.doghero.com.br/" translate>app.header.menu.2</a>
    </li>
    <li>
      <a href="https://store.doghero.com.br/" translate>app.header.menu.3</a>
    </li>
    <li>
      <a href="https://www.doghero.com.br/como-funciona" translate>app.header.menu.4</a>
    </li>
    <li>
      <a href="https://suporte.doghero.com.br/busca" translate>app.header.menu.5</a>
    </li>
  </ul>
</nav>
