<div class="form__field">
  <label>
    <i class="icon icon-location"></i>
    <input type="text" placeholder="Endereço" [formControl]="address">
  </label>
</div>

<div class="form__group">
  <label>
    <i class="icon icon-calendar"></i>
    <input type="date" placeholder="Data de entrada" [formControl]="startDate">
  </label>
  <label>
    <i class="icon icon-calendar"></i>
    <input type="date" placeholder="Data de saida" [formControl]="endDate">
  </label>
</div>

<div class="form__buttons">
  <button type="button" class="button default">
    <i class="icon icon-filter"></i>Filtros
  </button>
  <button type="button" class="button primary" (click)="send()">
    <i class="icon icon-search"></i>Buscar
  </button>
</div>
